{{> myLibraryContent}}

{{#content "body" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Add Console</h1>
                <form action="/api/ConsoleTable" method="POST">
                    <div class="form-group">
                        <input type="text" name="consoleName" class="form-control" placeholder="Console Name">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Console</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Add Game</h1>
                <form action="/api/GamesTable" method="POST">
                    <div class="form-group">
                        <input type="text" name="gameName" class="form-control" placeholder="Game Name">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Game</button>
                </form>
            </div>
        </div>
    </div>
    {{/content}}