<link rel="stylesheet" href="/css/homePage.css" type="text/css" />

<div class="jumbotron">
  <h1 class="display-4">Welcome to GamerLi</h1>
  <p class="lead">GamerLi is a personal library for videogame collectors! We provide record keeping for your whole collection consoles and games! Click login then register to get started.</p>
</div>