<div class="container list-container">
  <div class="row">
  <div class="col-sm-4"><h2>Consoles</h2>
  <ul class="console-ul"></ul>
  </div>
  <div class="col-sm-8">games</div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/myLib.js"></script>


