<div class="container-fluid" id="consoles">
  <div class="row">
    <div class="column">
      <h2>Consoles</h2>
      <ul>
        {{#each consoles}}
          <li>Console: {{this.console_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" id="games">
  <div class="row">
    <div class="column">
      <h2>Games</h2>
      <ul>
        {{#each games}}
          <li>Game: {{this.game_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/css/myLib.css" type="text/css" />
