<link rel="stylesheet" href="/css/myLib.css" type="text/css" />

<div class="container">
    <h1 class="my-4">My Game Library</h1>

    <form class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter game name..." required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add Game</button>
            </div>
        </div>
    </form>

    <ul class="list-group">
        <!-- Games will go here -->
        <script id="game-template" type="text/x-handlebars-template">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{game}}
                <button class="btn btn-danger">Remove</button>
            </li>
        </script>
    </ul>
</div>

