    {{!--

    <div class="container-fluid">
      <div class="row">
        <div class="col list-container">
          <div class="card">
            <ul class="list-group">

            </ul>
          </div>
        </div>
        <div class="col">
          <input
            class="note-title"
            placeholder="Note Title"
            maxlength="28"
            type="text"
          />
        </div>
      </div>
    </div>

    <script src="/js/myLib.js" type="text/javascript"></script> --}}

<div class="container-fluid" id="consoles">
  <div class="row">
    <div class="column">
      {{#displayConsolesAndGames consoles games}}
      {{/displayConsolesAndGames}}
    </div>
  </div>
</div>

<div class="container-fluid" id="games">
  <div class="row">
    <div class="column">
      {{#displayConsolesAndGames consoles games}}
      {{/displayConsolesAndGames}}
    </div>
  </div>
</div>