<div class="container-fluid" id="consoles">
  <div class="row">
    <div class="column">
      <h2>consoles</h2>
      <ul id="consolesul">
        {{#each consoles}}
          <li data-consoleid={{this.id}} data-userid={{this.user_id}}>Console: {{this.console_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" id="games">
  <div class="row">
    <div class="column">
      <h2>Games</h2>
      <ul id="gamesul">
        {{!-- {{#each games}}
          <li>Game: {{this.game_name}}</li>
        {{/each}} --}}
      </ul>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" id="addConsole">Add Console</button>
<link rel="stylesheet" href="/css/myLib.css" type="text/css" />
<script src="/js/myLib.js"></script>
