#consoles {
  margin-top: 20px;
}

#games {
  margin-top: 20px;
}

.column {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
/* Styles for small screens */
@media (max-width: 767px) {
  /* CSS rules for small screens go here */
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for medium screens go here */
}

/* Styles for large screens */
@media (min-width: 1024px) {
  /* CSS rules for large screens go here */
}