body {
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .person {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .person h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .person p {
    margin-bottom: 5px;
  }
  
  .person .bio {
    color: #555;
  }